body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body p{
    margin: 0;
}

/* header */

.header{
    background: #C4170C;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.menu-div{
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.menu-div p{
    padding-bottom: 0.1em;
    text-transform: uppercase;
}

.barra-de-menu{
    width: 1.6em;
    margin-right: 0.5em;
}

.logo-g1{
    width: 4em;
    margin-left: 5em;
}

.input-div{
    margin-right: 2%;
}

input{
    background-color: #8B0000;
    color: white;
    background-image: url(../imagens/lupa.svg);
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: 1.3em;
    padding: 0.4em;
    padding-left: 2.5em;
    border: 1px solid #707070;
    border-radius: 8px;
}

::placeholder{
    color: white;
}

/*main*/

.main-div{
    display: grid;
    height: 650px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 4em;
    margin: 1em;
}

h1{
    text-transform: uppercase;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 1.5em;
}

.div-container-primario{
    border: 1px solid #707070;
    margin-left: 6%;
    grid-column: 1/2;
    grid-row: 2/4;
}

.div-container-secundario{
    text-align: left;
    color: #8B0000;
    margin: 14em 1.5em;
}

.texto-interno-1{
    font: normal normal 600 40px/33px Segoe UI;
}

.texto-interno-2{
    font: normal normal normal 18px/33px Segoe UI;
}

.imagem-container-1{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    font-weight: 600;
}

.imagem-container-2{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    font-weight: 600;
}

.caminhao, .lady-gaga{
    height: auto;
    width: 100%;
}

/* main 2 */

.main-div-2{
    display: grid;
    height: 350px;
    grid-template-columns: 0.95fr 1.05fr;
    grid-template-rows: 1fr;
    gap: 3em;
    margin: 12em 4% 0 4%;
    border-bottom: 2px solid #707070;
}

.main-div-3{
    display: grid;
    height: 350px;
    grid-template-columns: 0.95fr 1.05fr;
    grid-template-rows: 1fr;
    gap: 3em;
    margin: 3em 4% 0 4%;
    border-bottom: 2px solid #707070;
}

.main-2-imagem{
    grid-column: 1/2;
    grid-row: 1/2;
}

.dinheiro{
    height: auto;
    width: 100%;
}

.main-2-texto{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
}

.texto-1{
    font: normal normal 600 20px/33px Segoe UI;
}

.texto-2{
    font: normal normal 600 30px/47px Segoe UI;
    color: #C4170C;
}

.texto-3{
    font: normal normal normal 21px/36px Segoe UI;
    margin: 1em 0;
}

.texto-4{
    font: normal normal normal 21px/36px Segoe UI;
    color: #746565;
}

.veja-mais{
    background: #C4170C;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 12% 41%;
    padding: 1em;
    border-radius: 4px;
}

/* footer */

.footer{
    height: 170px;
    background: #C4170C;
    border: 1px solid #707070;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer-div-1{
    display: flex;
    align-items: center;
    margin-top: 1em;
    width: 100%;
}

.footer .logo-g1{
    width: 5em;
    margin-right: 1.5em;
}

.footer-div-2{
    height: 2em;
    width: 100%;
    margin-left: 5em;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}